@model Register
<form asp-action="Delete" asp-controller="Account" method="post">
    <input type="hidden" asp-for="RegisterId" />
    <input type="hidden" asp-for="Password" />
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" id="Name">
    </div>    
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" id="Email">
    </div>   
    <div class="mb-3">
        <label for="phoneNumber" class="form-label">phoneNumber</label>
        <input type="number" asp-for="phoneNumber" class="form-control" id="phoneNumber">
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Address</label>
        <input type="text" asp-for="Address" class="form-control" id="Address">
    </div>
    <div class="mb-3">
        <label for="role" class="form-label">role</label>
        <input asp-for="role" class="form-control" id="role">
    </div>
   <button type="submit" class="btn btn-primary">Delete</button>
</form>
